{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/login.css">
{% endblock %}
{% block content %}
    <div class="main-window">
        <h2>Log in</h2>
        <form id="login-form">
            <div class="row">
                <div class="col-2 form-text">Password</div>
                <div class="col-8">
                    <input id="password" class="password" placeholder="Enter password for wallet">
                </div>
            </div>
            <div class="errors">

            </div>
            <div class="row">
                <input type="submit" id="submit__button" value="SEND">
            </div>

        </form>
    </div>
    <script src="/static/js/login.js"></script>
{% endblock %}