{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/registration.css">
{% endblock %}
{% block content %}
    <div class="main-window">
        <h2>Registration</h2>
        <form id="registration-form">
            <div class="row">
                <div class="col-2 form-text">Mnemo phrase
                    <div class="refresh-mnemo-button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="refresh-icon" viewBox="0 0 512 512"><title>
                            Refresh</title>
                            <path d="M320 146s24.36-12-64-12a160 160 0 10160 160" fill="none" stroke="currentColor"
                                  stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="32" d="M256 58l80 80-80 80"/>
                        </svg>
                    </div>
                </div>
                <div class="col-8">
                    <textarea class="mnemo-phrase" placeholder="Enter your mnemo phrase">{{ mnemo_phrase }}</textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2 form-text">Password</div>
                <div class="col-8">
                    <input id="password" class="password" placeholder="Enter password for wallet">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2 form-text">Password again</div>
                <div class="col-8">
                    <input id="password-again" class="password" placeholder="Repeat password">
                </div>
            </div>
            <div class="errors">

            </div>
            <div class="row">
                <input type="submit" id="submit__button" value="SEND">
            </div>

        </form>
    </div>
    <script src="/static/js/registration.js"></script>
{% endblock %}